.navgrad {
  background:linear-gradient(120deg,#f19643,#e3cf21);
  font-size:22px;
}

.rounded {
  border-radius:1.50rem!important;
}

.indeximg {
  padding:30px 0px 30px 0px;
}

.imgmain {
  max-height:360px;
  color:rgba(33,37,41,0);
}

.page_heading {
  background-color:rgba(255,255,255,0.25);
  border-radius:1.5rem;
}

.page_heading_large {
  font-size:64px;
  color:#f19643;
  font-weight:700;
}

.container.heading {
  padding-top:30px;
}

body {
  background-image:url("../../assets/img/AdobeStock_44115370.jpg");
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  font-family:'Advent Pro', sans-serif;
  background-repeat:repeat;
}

@media (max-width: 767px) {
  body {
    background-image:url("../../assets/img/AdobeStock_44115370.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    font-family:'Advent Pro', sans-serif;
    background-repeat:repeat-y;
  }
}

.intropara {
  background-color:rgba(255,255,255,0.7);
  border-radius:1rem;
  padding:10px;
}

